 
html{
    height: 100%;
    width:100%
  }

  body {
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 100%; */
    background-size: cover;
    background-attachment: fixed;
    background-image: url("../images/background.jpg");
}
 
  /* Set a style for the rest of the elements besides the header elements on the index.html page */
  .page-body{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .yellow-button{
    padding: 10px;
    margin: 10px;
    width: 100px;
    background-color: rgb(223, 207, 67);
    color: black;
    border-style: groove;

  }
  .create-btn{
    display: flex;
    /* width: 20%; */
    align-self: center;
    background-color: green;
    /* padding: 10px; */
    padding: 10px 20px ;
    border: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
 textarea{
  background-color: #e4dada;
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
  border: none;
  height: 200px;
 }
 #modal-content{
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  height: 80%;
  width: 70%;  
}